# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.user
*.sdf
*.opendb
*.pdb
*.iobj
*.lastbuildstate
*.tlog
*.log
*.suo
*.ipch
*.ipdb
*.exp
*.idb
*.ilk
*.autosave

android/pak/
android/assets/extras.pak
*-build
*admob-id.xml
*.tasks
regamebuild/
*.tasks
Makefile
build/

### CMake ###
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
# makedepend
Makefile.dep
*.bak
ALL_BUILD.*
INSTALL.*
ZERO_CHECK.*

# Visual Studio
*.obj
*.dll
*.exp
*.lib
*.suo
*.sdf
Debug/
Release/
ipch/
*.opensdf
# Use CMake for generating projects
*.vcxproj.filters
*.vcxproj
*.sln
